@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


body{
    font-family: "Lexend Deca", sans-serif;
}

header{
    background-color: snow;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav img{
    width: 200px;

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav a:hover{
    text-decoration: underline;
}

.tarjeta{
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 1px;
}

.tarjeta:hover{
    background-color: snow;
    transform: scale(1.05);
}

.tarjeta img{
    width: 100%;
}

.tarjeta h1{
    text-align: center;
    font-size: 25px;
    color: black;
}

.tarjeta h2{
    color: #898685;
}

.contenido{
    padding: 10px;
}

.f1 {
    display: flex;
    justify-content: center;
}

.f2 {
    display: flex;
    justify-content: center;
}

.producto{
    margin-top: 50px;
    background-color: #dddcdb;
}


.imagen{
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
}

.imagen img{
    width: 300px;
}

.orden_1{
    display: flex;
   justify-content: center;
}

.orden_2{
    display: flex;
   justify-content: center;
}


.boton{
    background-color: snow;
    border: none;
    color: black;
    padding: 8px 5px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 900px;
}

footer {
    background-color: snow;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


.titulo{
    text-align: center;
}

